@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Open+Sans&family=Roboto:wght@700&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-anchor: none;
}
.header{
    width: 101%;
    height: 120px;
}
/*ส่วน notice*/
.font{
    font-size: 53.3333px;
}
.font p{
    letter-spacing: 5px;
}
/* .text{
    margin-right: 100em;
} */
.boardView_header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: auto;
    /* position: relative; */
    padding: 30px;
    border-top: 2px solid #333;
    border-bottom: 1px solid #ccc;
}
.pro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 7.5%;
    background-color: #fcfcfd;
    border-bottom: 1px solid #ccc;
}
.boarderunder1{
    margin-top: 20px;
    height: auto;
    position: relative;
    padding: 30px;
}
.boarderunder2{
    margin-top: 20px;
    height: auto;
    position: relative;
    padding: 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
button{
    float: right;
    padding: 12px 0;
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 11pt;
    margin-top: 20px;
    background-color: white;
    text-decoration: none;
}
.distance{
    width: 6em;
    border: none;
}
.distance a{
    color: #d64827;
    text-decoration: none;
}
.container{
    animation: openslide 1.75s;
    transition: 0.5s;
}
@keyframes openslide {
    0%{
        opacity: 0;
        margin-top: 50px;

    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}
.right-line{
    position: fixed;
    width: 356px;
    top: 400px;
    text-align: center;
    right: -75px;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #333;
    transform: rotate(90deg);
    z-index: -10;
}
.line{
    display: inline-block;
    border: 1px solid black;
    width: 140px;
    margin: 0 20px;

}
footer{
    margin-top: 10em;
    /* height: 60px; */
    margin-bottom: 1em;
    margin-left: 2.8em;
}
.copyright{
    position: relative;
    width: 100%;
    bottom: 45px;
    right: 3%;
    text-align: right;
    color: rgb(0, 0, 0);
    font-size: 10px;
    z-index: 100;
}

.contact{
    position: relative;
    bottom: 40px;
    left: -2%;
    z-index: 100;
}
.contact li{
    width: 50px;
    height: 20px;
    display: block;
    float: left;
    transition: 0.5s;
}

.contact img{  
    height: 20px;
    width: 20px;
    margin-left: 0;
    z-index: 1000;
    transition: 0.5s;
    cursor:pointer;
}

.contact li:hover{
    transform: translateX(10px);
}
.contact li:hover  ~ li{
    transform: translateX(10px);
}
/* .contact img:hover{
    margin-left: 0.5em;
} */

/* f;v */
.navbar{
    position: fixed;
    display: none;
    z-index: 10000;
    top: 0%;
    width: 100%;
    background-color: white;
    overflow: hidden;
    transition: 0.001ms;
}
.icon_bar{
    position: absolute;
    top: 53px;
    left: 3%;
    height: 43px;
    transform: scale(0.85);
}
.img_menu_close{
    position: absolute;
    top: 60px;
    right: 3%;
    display: inline-block;
    width: 22px;
    height: 22px;
}
.menu_list{
    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    margin-top: ease-in-out;
}
.link_menu{
    display: inline-block;
    color: black;
    font-size: 27pt;
    font-weight: bold;
    transition: 0.1s;
    line-height: 28px;
    margin-top: 35px;
    letter-spacing: 0.05em;
    vertical-align: top;
}
.link_menu:hover{
    letter-spacing: 0.125em;
    color: rgb(187, 15, 15);
}

#open_btn{
    cursor: pointer;
}

.contact_menu{
    position: absolute;
    bottom: 40px;
    left: -2%;
    z-index: 100;
}
.contact_menu li{
    width: 50px;
    height: 20px;
    display: block;
    float: left;
    transition: 0.5s;
}

.contact_menu img{  
    height: 20px;
    width: 20px;
    margin-left: 80%;
    z-index: 1000;
    transition: 0.5s;
    cursor:pointer;
}

.contact_menu li:hover{
    transform: translateX(10px);
}
.contact_menu li:hover  ~ li{
    transform: translateX(10px);
}

.copyright_menu{
    position: absolute;
    width: 100%;
    bottom: 45px;
    right: 3%;
    text-align: right;
    color: rgb(0, 0, 0);
    font-size: 10px;
    z-index: 100;
}
